@if ((loading$ | async)) {
  <div class="w-full h-64 flex items-center justify-center">
    <div class="text-center">
      <div class="inline-block animate-spin rounded-full h-10 w-10 border-4 border-gray-300 border-t-violet-600"></div>
      <div class="mt-3 text-gray-600">Ładowanie...</div>
    </div>
  </div>
} @else {
  @if (isMobile) {
    <div class="mt-6">
      <app-filter-tag [tagsList]="tagsList" [selected]="selectedTags" (selectionChange)="onFilterChange($event)"></app-filter-tag>
    </div>

    @if ((filteredProducts$ | async)?.length === 0) {
      <app-not-found-page></app-not-found-page>
    } @else {
      <div class="grid grid-cols-2 gap-5 p-5 pl-0 pr-0">
        @for(product of (filteredProducts$ | async); track product.id) {
          <app-product-link [product]="product" />
        }
      </div>
    }
  } @else {
    @if ((categories)?.length === 0) {
      <app-not-found-page></app-not-found-page>
    } @else {
      @for(category of categories; track category.name) {
        <section class="recommendations mb-8">
          <h2 class="mb-1 text-3xl font-semibold tracking-tight text-gray-900 ">{{ category.name }}</h2>
          <div class="grid grid-cols-3 lg:grid-cols-4 gap-5 p-5 pl-0 pr-0">
            @for(product of (category.products); track product.id) {
              <app-product-link [product]="product" />
            }
          </div>
        </section>
      }
    }
  }
}
