html, body, app-root {
    height: 100%;
    margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page {
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
}

footer {
    margin: 2rem 0;
    text-align: center;
}

@media(min-width: 720px) {
    footer {
        text-align: left;
    }
}   