<p-card header="Logowanie" class="max-w-96 mx-auto mt-32">
    <form class="flex flex-col gap-6 pt-3" [formGroup]="loginForm">
        <div class="flex flex-col gap-1">
            <p-floatlabel variant="in">
                <input type="text" pInputText id="login" formControlName="login" fluid [invalid]="isInvalid('login')" />
                <label for="login">Nazwa użytkownika</label>
            </p-floatlabel>

            @if (isInvalid('login')) {
            <p-message severity="error" size="small" variant="simple">Pole wymagane.</p-message>
            }
        </div>
        <div class="flex flex-col gap-1">
            <p-floatlabel variant="in">
                <input type="password" pInputText id="password" formControlName="password" fluid
                    [invalid]="isInvalid('password')" />
                <label for="password">Hasło</label>
            </p-floatlabel>

            @if (isInvalid('password')) {
            <p-message severity="error" size="small" variant="simple">Pole wymagane.</p-message>
            }
        </div>
        @if (formError) {
        <p-message severity="error" variant="simple" class="mt-2 mx-auto">
            {{ formError }}
        </p-message>
        }
        <button pButton type="button" label="Zaloguj" (click)="login()"></button>
    </form>
</p-card>
<div class="flex items-center justify-center max-w-96 mx-auto gap-0">
    <p-message severity="secondary" variant="simple"> Nie masz konta? </p-message>
    <p-button label="Utwórz" link (onClick)="navigateRegister()" />
</div>