<p-card header="Logowanie" class="max-w-96 mx-auto mt-32">
    <form class="flex flex-col gap-6 pt-3" [formGroup]="loginForm">
        <div class="flex flex-col gap-1">
            <p-floatlabel variant="in">
                <input type="text" pInputText id="username" formControlName="username" fluid
                    [invalid]="isInvalid('username')" />
                <label for="username">Nazwa użytkownika</label>
            </p-floatlabel>

            @if (isInvalid('username')) {
            <p-message severity="error" size="small" variant="simple">Pole wymagane.</p-message>
            }
        </div>
        <div class="flex flex-col gap-1">
            <p-floatlabel variant="in">
                <input type="password" pInputText id="password" formControlName="password" fluid
                    [invalid]="isInvalid('password')" />
                <label for="password">Hasło</label>
            </p-floatlabel>

            @if (isInvalid('password')) {
            <p-message severity="error" size="small" variant="simple">Pole wymagane.</p-message>
            }
        </div>

        <button pButton type="button" label="Zaloguj" (click)="login()"
            [disabled]="loginForm.invalid && loginForm.touched">
        </button>

    </form>
</p-card>